.Card {
    /*display: inline-grid;*/
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .12);
    margin: auto;
    background: coral;
    height: 500px;
    width: 1200px;
    animation: fade-in; /*动画名称*/
    animation-duration: 3s; /*动画持续时间*/
    -webkit-animation: fade-in 1.5s; /*针对webkit内核*/
}

.pic {
    background: url("../img/login_bg.jpg");
    background-size: 100% 100%;
    height: 500px;
    width: 850px;
    float: left;
}

.pic_text {
    margin-top: 220px;
    text-align: center;
    line-height: 60px;
    color: mediumseagreen;
    font-size: 30px;
}

.login {
    float: right;
    height: 500px;
    width: 350px;
}

.login_text {
    margin-left: 136px;
    line-height: 50px;
    font-size: 30px;
    color: white;
    margin-top: 40px;
}

#username_div {
    color: white;
    margin-left: 20px;
}

#password_div {
    color: white;
    margin-left: 20px;
}

#verity_div {
    color: white;
    margin-left: 20px;
}


/*
CSS动画效果*/

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    /*过渡状态 透明度为0*/
    100% {
        opacity: 1;
    }
    /*结束状态 透明度为1*/
}


